<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <div class="clearfix intro">
    <div class="sm-col sm-col-6">
        <div class="pl2 pr3 main_blurb">
          <p class="h1 bold">Spend more time birding.</p>
        </div>
        <div class="h3 pl2 pr3 extra_blurb">
          <p>Knest takes care of the grunt work of finding the best photos from
          your birding excursions. It's an automated solution that
          recognizes birds, locates them, and crops around them, giving you
          more time to do the things you enjoy.</p>
        </div>
    </div>
    <div class="sm-col sm-col-6">
        <!--thumbnail of original photo-->
        <!--some sort of arrow pointing downwards-->
        <!--thumbnail of processed photo-->
    </div>

<!--Embed the footer.html template at this location-->
<!--{{ template "footer.html" .}}-->
