<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <div class="intro">
    <div class="left">
        <div class="main_blurb">
            Spend your time birding, not sitting.
        </div>
        <div class="extra_blurb">
            Knest takes care of the grunt work of finding the best photos from
            your birding excursions. It's an automated solution that
            recognizes birds, locates them, and crops around them, giving you
            more time to do the things you enjoy.
        </div>
    </div>
    <div class="right">
        <!--thumbnail of original photo-->
        <!--some sort of arrow pointing downwards-->
        <!--thumbnail of processed photo-->
    </div>

<!--Embed the footer.html template at this location-->
<!--{{ template "footer.html" .}}-->
