<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <div class="columns intro">
    <div class="column col-6">
        <div class="tagline">
          <h2>Spend more time birding.</h2>
        </div>
        <div class="copy">
          <p>Knest takes care of the grunt work of finding the best photos from
          your birding excursions. It's an automated solution that
          recognizes birds, locates them, and crops around them, giving you
          more time to do the things you enjoy.</p>
        </div>
    </div>
    <div class="columns col-6">
        <!--thumbnail of original photo-->
        <!--some sort of arrow pointing downwards-->
        <!--thumbnail of processed photo-->
    </div>

<!--Embed the footer.html template at this location-->
<!--{{ template "footer.html" .}}-->
